li {
    border: 2px solid red;
    border-radius: 50px;
    /*display: inline-block;*/
    font-size: 2rem;
    width: 300px;
    list-style: none;

    }

li:hover {
    background-color: forestgreen;
}

a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    display: block;
    padding: 10px;
    text-align: center;

}