div {
    background-size: cover;
    background-repeat: no-repeat;
}

.c1 {
background-image: url("../../img/jet-li.jpg");

}

.c2 {
    background-image: url("../../img/jackie_chan_punch.jpg");
}

.c3 {
    background-image: url("../../img/jet-li.jpg");
}

.c4 {
    background-image: url("../../img/jackie_chan_punch.jpg");
}

.c5 {
    background-image: url("../../img/jet-li.jpg");
}

.c6 {
    background-image: url("../../img/jackie_chan_punch.jpg");
}

.c7 {
    background-image: url("../../img/jet-li.jpg");
}

