div {
    border: 2px solid black;
    height: 50px;
    width: 100px;
    margin: 1px;
    display: inline-block;
    border-radius: 35%;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
  }

#green {
    background-color: green;
}